<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>

  <%- include('partials/navbar', { user, csrfToken, activePage }) %>
  

  <div class="container mt-4">
    <h1>Bienvenue <%= user ? user.prenom + ' ' + user.nom : '' %></h1>
    <!-- Ajoute ici tes infos du dashboard -->
  </div>
  <%- include('partials/profileCard', { user }) %>
  <%- include('filters', { user }) %>
  <%- include('partials/footer') %>
</body>
</html>