<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Modifier admins</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
  <%- include('../partials/navbar', { user, csrfToken, activePage }) %>
   
<h1>Modifier admin</h1>
<form action="/admins/<%= admin.id %>" method="post">
  <p>Attention, le changement de l'email peut entraîner des problèmes de connexion si l'email ne correspond pas au nom.prenom de l'admin.</p>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  Email: <input type="email" name="email" value="<%= admin.email %>" required><br>
  Nom: <input type="text" name="nom" value="<%= admin.nom %>" required><br>
  Prénom: <input type="text" name="prenom" value="<%= admin.prenom %>" required><br>
  Rôle:
  <select name="role">
    <option value="ADMIN" <% if (admin.role === 'ADMIN') { %>selected<% } %>>ADMIN</option>
    <option value="SUPERADMIN" <% if (admin.role === 'SUPERADMIN') { %>selected<% } %>>SUPERADMIN</option>
  </select><br>
  <button type="submit">Sauvegarder</button>
</form>
<a href="/admins">Retour à la liste</a>
<%- include('../partials/footer') %>
</body>
</html>
